:root{
    --green-color:#66b032;
    --blue-color:#0057a8;
    --white-color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
    /* overflow: hidden; */
}
.logo{
    width: 200px;
}
span{
    font-size: 12px !important;
}
.header-bg{
    background-image: linear-gradient(to left,rgb(165, 237, 165),white);
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.sidebar-bg{
    width: 30%;
    height: 100vh;
    background-image: linear-gradient(rgb(165, 237, 165),white);
}
.content{
    width: 100%;
    height: 100vh;
}
.nav-item a{
    color: green;
    font-weight: 500;
    line-height: 30px;
}
.nav-item a:hover{
    color: white;
    padding-left: 10px;
    background-color: green;
}
.card{
    box-shadow: 5px 5px 10px grey !important ;
}
table tr td{
color: rgb(70, 77, 77) !important;
}
.login-form{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,rgb(123, 189, 123),rgb(142, 197, 142),white);
}
.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}
.login-heading{
    color: var(--green-color);
    text-shadow: 5px 0 5px green;
}
.dashboard_banner{
    background-image: url('./images/green-park.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    border-radius: 10px;

}
.banner-content{
    width:50%;
    height: auto;
    background-color: rgba(128, 128, 128, .6);
}