:root{
    --green-color:#66b032;
    --blue-color:#0057a8;
    --white-color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
    /* overflow: hidden; */
}
.logo{
    width: 200px;
}
span{
    font-size: 12px !important;
}
.header-bg{
    background-image: linear-gradient(to left,rgb(165, 237, 165),white);
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.sidebar-bg{
    width: 30%;
    height: 100vh;
    background-image: linear-gradient(rgb(165, 237, 165),white);
}
.content{
    width: 100%;
    height: 100vh;
}
.nav-item a{
    color: green;
    font-weight: 500;
    line-height: 30px;
}
.nav-item a:hover{
    color: white;
    padding-left: 10px;
    background-color: green;
}
.card{
    box-shadow: 5px 5px 10px grey !important ;
}
table tr td{
color: rgb(70, 77, 77) !important;
}

.login-card{
            width: 100%;
            max-width: 400px;
            border-radius: 15px;
        }